<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
    <title>日報入力画面</title>
</head>

<body>

    <h1>{{ date }} の日報入力</h1>

        <form method="POST">
            <label>日付:</label>
            <input type="date" name="date" required value="{{ date }}">
    
            <label>業務種別:</label>
            <select name="work_type">
                <option value="業務A">業務A</option>
                <option value="業務B">業務B</option>
            </select>

            <label>開始時間:</label>
            <input type="time" name="start_time" required>

            <label>終了時間:</label>
            <input type="time" name="end_time" required>

            <label>作業内容:</label>
            <textarea name="content"></textarea>

            <button type="submit">登録</button>
        </form>

</body>

</html>